<%unless params[:render] == 'modal'%>
	<% content_for :breadcumb do %>
		<% if @crud_associacao.present? %>
			<li class=""><%= link_to @crud_associacao.title, crud_models_path(model: @crud_associacao.root_path) %></li>
			<li class=""><%= link_to @crud_helper.title, @clean_url %></li>
		<% else %>
			<li class=""><%= link_to @crud_helper.title, crud_models_path(model: @crud_helper.root_path) %></li>
		<% end %>
	<% end %>
		

	<% content_for :header do %>
		<%=@crud_helper.title%>
	<% end %>

	<% content_for :scopes do %>
		<%= render "/crud/scopes" %>
	<% end %>

	<% content_for :modal do %>
		<% if @crud_helper.search_fields.present? %>
			<%= render "/crud/search" %>
		<% end %>
	<% end %>
	
<%end%>

<%= render "layouts/template_raro_crud" %>
