<%= render_crud do %>
	<div class="modal inmodal" id="modal_new_record" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content animated bounceInRight">
				<div class="modal-body">
				</div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
		    </div>
			</div>
		</div>
	</div>
	<%unless params[:render] == 'modal'%>
		<% url = "/crud/#{@model.name.underscore}/#{@record.new_record? ? 'create' : @record.id.to_s+'/create'}?page=#{params[:page]}" %>
		<% remote_form = false%>
	<%else%>
		<% url = "/crud/#{@model.name.underscore}/#{@record.new_record? ? 'create?render=modal' : @record.id.to_s+'/create?render=modal'}" %>
		<% remote_form = true%>
	<%end%>
	<%= simple_nested_form_for @record, remote: remote_form, html: {class: "form-horizontal"}, url: url do |f| %>
		<%= flash_messages_error(@record.errors) %>
		<%@crud_helper.form_fields.each do |field|%>
			<% if field[:sf].present? && field[:sf][:if].present? %>
				<% next unless field[:sf][:if].call(f.object) %>
			<% end %>
			<% if field[:sf].present? && field[:sf][:grupo].present? %>
				<%= render "/crud/form_group", f: f, key: field[:attribute], groups: field[:sf] %>
			<% else %>
				<% if @model.reflect_on_association(field[:attribute]).class == ActiveRecord::Reflection::BelongsToReflection && is_raro_crud(@model.reflect_on_association(field[:attribute]).class_name) && field[:sf][:add_registro].nil?%>
						<%= render_plus_button(field,f,@model,@record) %>
				<%else%>
						<%= render_field(field,f,@model,@record) %>
				<%end%>
			<% end %>
		<% end %>
		<%@crud_helper.form_groups.each do |key, groups|%>
			<%= render "/crud/form_group", f: f, key: key, groups: groups %>
		<% end %>
		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-2">
				<%= f.submit "Salvar", class: 'btn btn-primary'  %>
				<%unless params[:render] == 'modal'%>
					<%= link_to "Voltar", "/crud/#{@model.name.underscore}?page=#{params[:page]}", class: 'btn btn-default', data: {push: 'partial', target: "#form"} %>
				<% end %>
			</div>
		</div>
	<% end %>
	<% @crud_helper.form_scripts.each do |script| %>
		<%= javascript_include_tag "crud/#{script}" %>
	<% end %>
<% end %>

