<% url = "/crud/#{@model.name.underscore}/#{@record.new_record? ? 'create' : @record.id.to_s+'/create'}" %>
<%= simple_form_for @record, remote: false, html: {class: "form-horizontal"}, url: url do |f| %>
	<%= f.error_notification %>
	<%@crud_helper.form_groups.each do |key, groups|%>			
		<%= f.simple_fields_for key, key.to_s.camelize.constantize.new do |g| %>
			<% groups.each do |field| %>
				<%= render_field(field,g,@model,@record) %>
			<% end %>
		<% end %>
	<% end %>
	<%@crud_helper.form_fields.each do |field|%>
		<%= render_field(field,f,@model,@record) %>
	<% end %>
	<div class="form-group">
		<div class="col-sm-4 col-sm-offset-2">
			<%= f.submit "Salvar", class: 'btn btn-primary' %>
		</div>
	</div>
<% end %>
<script type="text/javascript">
	<%= @crud_helper.form_script.html_safe %>
</script>
