<%= content_tag :tr, id: "record-#{record.id}" do %>
	<%@crud_helper.index_fields.each do |att| %>
		<% if record.send(att[:attribute]).present? or record.send(att[:attribute]).to_s == "false"%>
			<% if @model.columns_hash[att[:attribute].to_s].present? && [:date, :datetime].include?(@model.columns_hash[att[:attribute].to_s].type)%>
					<% if att[:date_format].present?%>
						<td><%=  record.send(att[:attribute]).strftime(att[:date_format]) %></td>
					<% else %>
						<td><%= l record.send(att[:attribute]) %></td>
					<% end %>
			<% elsif @model.reflect_on_association(att[:attribute]) &&  @model.reflect_on_association(att[:attribute]).macro != :belongs_to%>
				<td>
					<% record.send(att[:attribute]).each do |rec| %>
						<li>
							<%= rec.to_s %>
						</li>
					<% end %>
				</td>
			<% elsif record.send(att[:attribute]).respond_to?(:url) and record.send(att[:attribute]).url(:thumb) %>
				<td><%=  image_tag(record.send(att[:attribute]).url(:thumb)) %></td> 
			<% else %>
				<% if record.send(att[:attribute]).to_s == "false" or record.send(att[:attribute]).to_s == "true" %>
					<td><%=  record.send(att[:attribute]) ? "Sim" : "Não" %></td>  
				<% else %>
					<td><%=  record.send(att[:attribute]).to_s %></td>  
				<% end %>
			<% end %>
		<% else %>
			<td></td>
		<% end %>
	<%end%>
	<td>
		<%if @crud_helper.view_action%>
			<a href="/crud/<%=@model.name.underscore%>/<%=record.id%>"
				class="btn btn-primary btn-xs" data-push="partial" data-target="#form">Visualizar</a>
		<%end%>
		<%if @crud_helper.edit_action%>
			<a href="/crud/<%=@model.name.underscore%>/<%=record.id%>/edit"
				class="btn btn-primary btn-xs" data-push="partial" data-target="#form">Editar</a>
		<%end%>
		<%if @crud_helper.destroy_action%>
			<a href="/crud/<%=@model.name.underscore%>/<%=record.id%>/destroy"
				class="btn btn-danger btn-xs" data-push="partial" data-target="#form" data-method="delete">Excluir</a>
		<%end%>
		<%@crud_helper.actions.each do |a|%>
			<% if ((a[2].present? && a[2].call(record)) || !a[2].present?) %>
				<a href="/crud/<%=@model.name.underscore%>/<%=record.id%>/acao/<%=a[0]%>"
						class="btn btn-primary btn-xs" data-push="partial" data-target="#form"><%=a[1]%></a>
			<%end %>
		<%end %>
	</td>  
<% end %>
