<%= content_tag :tr, id: "record-#{record.id}" do %>
	<%@crud_helper.index_fields.each do |att| %>
		<% if !att[:visible_if].nil?%>
			<% if ((att[:visible_if].class == Proc && !att[:visible_if].call(record)) || (att[:visible_if].class != Proc && !att[:visible_if])) %>
				<% next %>
			<% end %>
		<% end %>
		<% if record.send(att[:attribute]).present? or record.send(att[:attribute]).to_s == "false"%>
			<% if @model.columns_hash[att[:attribute].to_s].present? && [:date, :datetime].include?(@model.columns_hash[att[:attribute].to_s].type)%>
					<% if att[:date_format].present?%>
						<td><%=  record.send(att[:attribute]).strftime(att[:date_format]) %></td>
					<% else %>
						<td><%= l record.send(att[:attribute]) %></td>
					<% end %>
			<% elsif @model.reflect_on_association(att[:attribute]) && @model.reflect_on_association(att[:attribute]).macro != :belongs_to && @model.reflect_on_association(att[:attribute]).macro != :has_one%>
				<td>
					<% record.send(att[:attribute]).each do |rec| %>
						<li>
							<%= rec.to_s %>
						</li>
					<% end %>
				</td>
			<% elsif record.send(att[:attribute]).class == Array %>
				<td>
					<% record.send(att[:attribute]).each do |rec| %>
						<li>
							<%= rec.to_s %>
						</li>
					<% end %>
				</td>
			<% end %>
			<% elsif record.send(att[:attribute]).respond_to?(:url) and record.send(att[:attribute]).url(:thumb) %>
				<td><%=  image_tag(record.send(att[:attribute]).url(:thumb)) %></td> 
			<% else %>
				<% if record.send(att[:attribute]).to_s == "false" or record.send(att[:attribute]).to_s == "true" %>
					<td><%=  record.send(att[:attribute]) ? "Sim" : "Não" %></td>  
				<% else %>
					<td><%=  record.send(att[:attribute]).to_s %></td>  
				<% end %>
			<% end %>
		<% else %>
			<td></td>
		<% end %>
	<%end%>
	<td>
		<%@crud_helper.actions.each do |a|%>
			<% if ((a[2].present? && a[2].call(record)) || !a[2].present?) %>
				<a href="/crud/<%=@model.name.underscore%>/<%=record.id%>/acao/<%=a[0]%>"
						class="btn btn-primary btn-xs" data-push="partial" data-target="#form"><%=a[1]%></a>
			<% end %>
		<% end %>
		<%@crud_helper.actions_links.each do |name, options|%>
			<% if options[:url].present? %>
				<% if options[:id] %>
					<% options[:url] += options[:url].include?("?") ? "&id=#{record.id}" : "?id=#{record.id}" %>
				<% end %>
				<% if options[:wiselink].present? && options[:wiselink] %>
					<a href="<%= options[:url] %>" class="btn btn-success btn-xs" data-push="partial" data-target="#form">
						<%=name%>
					</a>
				<% else %>
					<a href="<%= options[:url] %>" class="btn btn-success btn-xs">
						<%=name%>
					</a>
				<% end %>
			<% elsif options[:associacao].present? %>
				<a href="/crud/<%= options[:associacao].to_s.singularize %>/query?model=<%= options[:associacao].to_s.singularize.camelcase.constantize %>&partial=records&var=records&q[<%= @model.name.underscore %>_id_eq]=<%= record.id %>" class="btn btn-success btn-xs">
					<%=name%>
				</a>
			<% elsif options[:partial].present? %>
				<%= render options[:partial], record: record %>
			<% end %>
		<% end %>
		<%if @crud_helper.view_action && shold_view?(@crud_helper, record)%>
			<a href="/crud/<%=@model.name.underscore%>/<%=record.id%>?page=<%=params[:page]%>"
				class="btn btn-primary btn-xs" data-push="partial" data-target="#form">Visualizar</a>
		<% end %>
		<%if @crud_helper.edit_action && shold_edit?(@crud_helper, record) %>
			<a href="/crud/<%=@model.name.underscore%>/<%=record.id%>/edit?page=<%=params[:page]%>"
				class="btn btn-primary btn-xs" data-push="partial" data-target="#form">Editar</a>
		<% end %>
		<%if @crud_helper.destroy_action && shold_destroy?(@crud_helper, record)%>
			<a href="/crud/<%=@model.name.underscore%>/<%=record.id%>/destroy"
				class="btn btn-danger btn-xs" data-push="partial" data-target="#form" data-method="delete" data-confirm="Você têm certeza?">Excluir</a>
		<% end %>
	</td>  
<% end %>
