<% if @crud_helper.scopes.present? %>
	<% if @crud_helper.scopes.class == Array %>
		<% @crud_helper.scopes.each do |escopo| %>
			<%= link_to "/crud/#{@model.name.underscore}?scope=#{escopo[0]}", id: "#{escopo[0]}", data: {push: true, crumb: 'wielka'} do%>
				<div style="float: left; margin-left: 10px; min-width: 100px; position:relative;">
					<div class="widget style1 gray-bg" style="padding:15px 0px!important;">
						<div class="row vertical-align text-center" style="margin:0!important;">
							<h3 class="font-bold" style="width:100%;">
								<%= escopo[1] %>
								<span class="label label-success pull-right" style="margin-left: 10px;">
									<% if current_usuario.present? %>
										<%= @model.send(escopo[0]).accessible_by(current_ability, :read).count %>
									<% else %>
										<%= @model.send(escopo[0]).count %>
									<% end %>
								</span>
							</h3>
						</div>
					</div>
				</div>
			<%end%>
		<% end %>
	<% else %>
		<%= render @crud_helper.scopes %>
	<% end %>
<% end %>