<%unless params[:render] == 'modal'%>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<% if content_for?(:ibox_title) %>
						<%= yield :ibox_title %>
					<% elsif is_action_edit? && @model.present?%>
						<h5>
							<%= I18n.t("edit") %>
							<small style="margin-left: 2px;"><%= @record.to_s %> - #<%= @record.id %></small>
						</h5>
					<% elsif (is_action_create? || is_action_new?) && @model.present? %>
						<h5><%= I18n.t("new", model: I18n.t("model.#{@model.name.underscore}")) %></h5>
					<% elsif @record.present? && !@record.new_record? %>
						<h5>
							<%= @record.to_s %>
							<small style="margin-left: 2px;">#<%= @record.id %></small>
						</h5>
					<% elsif @crud_helper.present? %>
						<h5>
							<%= @crud_helper.subtitle(:index) %>
							<small><%= @crud_helper.description(:index) %></small>
						</h5>
					<% end %>
					<% if (@crud_helper.present? && (is_action_index? || is_action_query?))%>
						<div class="pull-right actions">
							<% @crud_helper.top_links.each do |link| %>
								<% if link[:can].present? %>
									<%=render_link(link,@url) if self.instance_eval &link[:can]%>
								<% else %>
									<%=render_link(link,@url)%>
								<% end %>
							<%end%>
							<% if @crud_helper.search_fields.present? %>
								<button id="button_search_<%=@model.name.underscore%>" class="btn btn-warning btn-rounded" data-toggle="modal" data-target="#modal_search">
									<i class="fa fa-search"></i>
								</button>
							<% end %>
						</div>
					<% elsif is_action_show? %>
						<% if (@crud_helper.present? && @crud_helper.destroy_action) && should_destroy?(@crud_helper, @record) %>
							<a href="<%= @url %>/<%= @record.id %>/destroy"
								class="btn btn-danger btn-xs pull-right m-l-xs" data-method="delete" data-confirm="<%= I18n.t('mensagem_confirm_destroy') %>"><%= I18n.t("destroy") %></a>
						<% end %>
						<% if (@crud_helper.present? && @crud_helper.edit_action) && should_edit?(@crud_helper, @record) %>
							<a href="<%= @url %>/<%= @record.id %>/edit?page=<%= params[:page] %>"
								class="btn btn-primary btn-xs pull-right m-l-xs" data-push="partial" data-target="#form"><%= I18n.t("edit") %></a>
						<% end %>
					<% end %>
				</div>
				<div class="ibox-content">
					<% block.call %>
				</div>
			</div>
		</div>
	</div>
</div>
<% else %>
	<% block.call %>
<% end %>
