<%unless params[:render] == 'modal'%>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<% if is_action_edit? && @model.present?%>
						<h5>
							Editar
							<small style="margin-left: 2px;"><%= @record.to_s %> - #<%= @record.id %></small>
						</h5>
					<% elsif is_action_create? && @model.present? %>
						<h5>Cadastrar</h5>
					<% elsif @record.present? && !@record.new_record? %>
						<h5>
							<%= @record.to_s %>
							<small style="margin-left: 2px;">#<%= @record.id %></small>
						</h5>
					<% elsif @crud_helper.present? %>
						<h5>
							<%= @crud_helper.subtitle(:index) %>
							<small><%= @crud_helper.description(:index) %></small>
						</h5>
					<% end %>
					<% if (@crud_helper.present? && (is_action_index? || is_action_query?))%>
						<div class="pull-right actions">
							<% @crud_helper.top_links.each do |link| %>
								<% if link[:can].present? %>
									<%=render_link(link,@url_str) if self.instance_eval &link[:can]%>
								<% else %>
									<%=render_link(link,@url_str)%>
								<% end %>
							<%end%>
							<% if @crud_helper.search_fields.present? %>
								<button id="button_search_<%=@model.name.underscore%>" class="btn btn-warning btn-rounded" data-toggle="modal" data-target="#modal_search">
									<i class="fa fa-search"></i>
								</button>
							<% end %>
						</div>
					<% elsif is_action_show? %>
						<% if (@crud_helper.present? && @crud_helper.destroy_action) && should_destroy?(@crud_helper, @record) %>
							<% if @crud_associacao.present? %>
								<%= link_to "Excluir", destroy_crud_associacao_path(model: params[:model], id: params[:id], associacao: params[:associacao], associacao_id: @record.id, page: params[:page], q: params[:q]), class: 'btn btn-danger btn-xs pull-right m-l-xs', data: {method: 'delete', confirm: 'Você tem certeza?'} %>
							<% else %>
								<%= link_to "Excluir", destroy_crud_path(model: @model.name.underscore, id: @record.id, page: params[:page], q: params[:q]), class: 'btn btn-danger btn-xs pull-right m-l-xs', data: {method: 'delete', confirm: 'Você tem certeza?'} %>
							<% end %>
						<% end %>
						<% if (@crud_helper.present? && @crud_helper.edit_action) && should_edit?(@crud_helper, @record) %>
							<% if @crud_associacao.present? %>
								<%= link_to "Editar", edit_crud_associacao_path(model: params[:model], id: params[:id], associacao: params[:associacao], associacao_id: @record.id, page: params[:page], q: params[:q]), class: 'btn btn-primary btn-xs pull-right m-l-xs', data: {push: 'partial', target: '#form'} %>
							<% else %>
								<%= link_to "Editar", edit_crud_path(model: @model.name.underscore, id: @record.id, page: params[:page], q: params[:q]), class: 'btn btn-primary btn-xs pull-right m-l-xs', data: {push: 'partial', target: '#form'} %>
							<% end %>
						<% end %>
					<% end %>
				</div>
				<div class="ibox-content">
					<% block.call %>
				</div>
			</div>
		</div>
	</div>
</div>
<% else %>
	<% block.call %>
<% end %>
