<%= render_crud do %>
<div class="widget-box">
	<div class="widget-body">
		<div class="widget-main">
			<table class="table table-bordered table-striped">
				<tbody>
					<% @crud_helper.view_fields.each do |field|%>
						<tr>
							<% if field[:sf].present? && !field[:sf][:visible_if].nil?%>
								<% if ((field[:sf][:visible_if].class == Proc && !field[:sf][:visible_if].call(@record)) || (field[:sf][:visible_if].class != Proc && !field[:sf][:visible_if])) %>
									<% next %>
								<% end %>
							<% end %>
							<th><%= I18n.t(field[:sf][:label], default: I18n.t("shared.#{field[:attribute]}")) %></th>

							<% if @model.columns_hash[field[:attribute].to_s].present? && [:date, :datetime].include?(@model.columns_hash[field[:attribute].to_s].type)%>
								<% if field[:date_format].present?%>
									<td><%= l @record.send(field[:attribute]).strftime(field[:date_format]) if @record.send(field[:attribute]).present?%></td>
								<% else %>
									<td><%= l @record.send(field[:attribute]) if @record.send(field[:attribute]).present?%></td>
								<% end %>
							<% elsif @model.reflect_on_association(field[:attribute]) &&  @model.reflect_on_association(field[:attribute]).macro != :belongs_to && @model.reflect_on_association(field[:attribute]).macro != :has_one%>
								<td>
									<% @record.send(field[:attribute]).each do |rec| %>
									<li>
										<% if field[:sf].present? && field[:sf][:label_method].present? %>
											<% if rec.send(field[:sf][:label_method]).respond_to?(:url) %>
												<%= render_field_file(rec.send(field[:sf][:label_method])) %>
											<% else %>
												<%= rec.send(field[:sf][:label_method]) %>
											<% end %>
										<% else %>
											<% if rec.to_s.respond_to?(:url) %>
												<%= render_field_file(rec.to_s) %>
											<% else %>
												<%= rec.to_s %>
											<% end %>
										<% end %>
									</li>
									<% end %>
								</td>
							<% elsif @record.send(field[:attribute]).class == Array %>
								<td>
									<% @record.send(field[:attribute]).each do |rec| %>
										<li>
											<%= rec.to_s %>
										</li>
									<% end %>
								</td>
							<% elsif @record.send(field[:attribute]).respond_to?(:url) %>
								<td>
									<%= render_field_file(@record.send(field[:attribute])) %>
								</td>
							<% elsif ["false","true"].include? @record.send(field[:attribute]).to_s %>
								<td><%= I18n.t(@record.send(field[:attribute]) ? "shared.sim" : "shared.nao") %></td>
							<% else %>
								<td>
									<% if field[:sf].present? && field[:sf][:label_method].present? && @record.send(field[:attribute]).present?%>
										<% if @model.reflect_on_association(field[:attribute]) && field[:sf][:link_associacao] %>
											<%= link_to crud_model_path(model: @model.reflect_on_association(field[:attribute]).class_name.to_s.underscore, id: @record.send(field[:attribute]).id) do %>
												<%= @record.send(field[:attribute]).send(field[:sf][:label_method]) %>
											<% end %>
										<% else %>
											<%= @record.send(field[:attribute]).send(field[:sf][:label_method]) %>
										<% end %>
									<% else %>
										<% if @model.reflect_on_association(field[:attribute]) && field[:sf][:link_associacao] %>
											<%= link_to crud_model_path(model: @model.reflect_on_association(field[:attribute]).class_name.to_s.underscore, id: @record.send(field[:attribute]).id) do %>
												<%= @record.send(field[:attribute]).to_s %>
											<% end %>
										<% else %>
											<%= @record.send(field[:attribute]).to_s %>
										<% end %>
									<% end %>
								</td>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<hr>
<%= link_to I18n.t("undo"), "#{@url}" ,class: 'btn btn-default', data: {push: 'partial', target: "#form"} %>
<% end %>
