<%unless params[:render] == 'modal'%>
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-3">
			<h2>
				<% if content_for? :header %>
					<%= yield  :header %>
				<% end %>
			</h2>
			<ol class="breadcrumb">
				<li>
					<a href="/">Home</a>
				</li>
				<% if content_for? :breadcumb %>
					<%= yield  :breadcumb %>
				<% end %>
			</ol>
		</div>
		<div class="col-lg-9">
			<div class="pull-right">
				<% if content_for? :scopes %>
					<%= yield  :scopes %>
				<% end %>
			</div>
		</div>
	</div>

	<% if content_for? :corpo %>
		<%= yield :corpo %>
	<% end %>
	<% if content_for? :modal %>
		<%= yield  :modal %>
	<% end %>
<% end %>
